##Importing Necessary Libraries for Great Expectation Validation on NeXRAd Data

In [5]:
import pandas as pd
import great_expectations as gx
import sqlite3
import os.path

In [27]:
##Connecting DB Using sqlite3
conn = sqlite3.connect("/content/drive/MyDrive/BigData/GEOSPATIAL_DATA .db")

In [28]:
df = pd.read_sql_query("SELECT * from nexradmeta",conn)

##Data Insights for the Nexrad

In [29]:
df.head()

   year  month  hour stationcode
0  2022      1     1        FOP1
1  2022      1     1        FOP1
2  2022      1     1        FOP1
3  2022      1     1        FOP1
4  2022      1     1        FOP1

In [30]:
my_df = gx.from_pandas(
        df
)

In [31]:
from great_expectations.dataset.sparkdf_dataset import SparkDFDataset


my_df.head()

   year  month  hour stationcode
0  2022      1     1        FOP1
1  2022      1     1        FOP1
2  2022      1     1        FOP1
3  2022      1     1        FOP1
4  2022      1     1        FOP1

##Using Great Expecation Suite to validate data quality.

##Checking for the Unique Values within Data Set

In [32]:
my_df.expect_column_values_to_be_unique

<function great_expectations.dataset.pandas_dataset.DocInherit.__get__.<locals>.f(self, column, mostly=None, result_format=None, row_condition=None, condition_parser=None, include_config=True, catch_exceptions=None, meta=None)>

##Checking for the not Null Values within Data Set

In [33]:
my_df.expect_column_values_to_not_be_null(column='year')

{
  "meta": {},
  "expectation_config": {
    "meta": {},
    "kwargs": {
      "column": "year",
      "result_format": "BASIC"
    },
    "expectation_type": "expect_column_values_to_not_be_null"
  },
  "success": true,
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "result": {
    "element_count": 19564761,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "partial_unexpected_list": []
  }
}

##Checking for the column validation within Data Set

In [34]:
my_df.expect_column_to_exist('year')

{
  "meta": {},
  "expectation_config": {
    "meta": {},
    "kwargs": {
      "column": "year",
      "result_format": "BASIC"
    },
    "expectation_type": "expect_column_to_exist"
  },
  "success": true,
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "result": {}
}

##Checking for the datatype validation within Data Set

In [35]:
my_df.expect_column_values_to_be_of_type('year', 'int')

{
  "meta": {},
  "expectation_config": {
    "meta": {},
    "kwargs": {
      "column": "year",
      "type_": "int",
      "result_format": "BASIC"
    },
    "expectation_type": "_expect_column_values_to_be_of_type__aggregate"
  },
  "success": true,
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "result": {
    "observed_value": "int64"
  }
}

Checking for the datatype validation for Stationcode

In [36]:
my_df.expect_column_values_to_be_of_type('stationcode', 'str')

{
  "meta": {},
  "expectation_config": {
    "meta": {},
    "kwargs": {
      "column": "stationcode",
      "type_": "str",
      "result_format": "BASIC"
    },
    "expectation_type": "_expect_column_values_to_be_of_type__map"
  },
  "success": true,
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "result": {
    "element_count": 19564761,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0,
    "partial_unexpected_list": []
  }
}