##Importing Necessary Libraries for Great Expectation Validation on GOES18 Data

In [5]:
import pandas as pd
import great_expectations as gx
import sqlite3
import os.path

In [47]:
##Connecting DB Using sqlite3
conn = sqlite3.connect("/content/drive/MyDrive/BigData/GEOSPATIAL_DATA .db")

In [49]:
df = pd.read_sql_query("SELECT * from goes18meta",conn)

##Data Insights for the goes18 dataset

In [50]:
df.head()

   year  month  hour
0  2022    209     0
1  2022    209     1
2  2022    209     2
3  2022    209     3
4  2022    209     4

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4538 entries, 0 to 4537
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    4538 non-null   int64
 1   month   4538 non-null   int64
 2   hour    4538 non-null   int64
dtypes: int64(3)
memory usage: 106.5 KB

In [52]:
my_df = gx.from_pandas(
        df
)

In [53]:
from great_expectations.dataset.sparkdf_dataset import SparkDFDataset


my_df.head()

   year  month  hour
0  2022    209     0
1  2022    209     1
2  2022    209     2
3  2022    209     3
4  2022    209     4

##Using Great Expecation Suite to validate data quality.

##Checking for the Unique Values within goes18meta dataset

In [54]:
my_df.expect_column_values_to_be_unique

<function great_expectations.dataset.pandas_dataset.DocInherit.__get__.<locals>.f(self, column, mostly=None, result_format=None, row_condition=None, condition_parser=None, include_config=True, catch_exceptions=None, meta=None)>

##Checking for the not Null Values within goes18meta Dataset

In [55]:
my_df.expect_column_values_to_not_be_null(column='year')

{
  "meta": {},
  "expectation_config": {
    "meta": {},
    "kwargs": {
      "column": "year",
      "result_format": "BASIC"
    },
    "expectation_type": "expect_column_values_to_not_be_null"
  },
  "success": true,
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "result": {
    "element_count": 4538,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "partial_unexpected_list": []
  }
}

##Checking for the column validation within goes18meta dataset

In [41]:
my_df.expect_column_to_exist('year')

{
  "meta": {},
  "expectation_config": {
    "meta": {},
    "kwargs": {
      "column": "year",
      "result_format": "BASIC"
    },
    "expectation_type": "expect_column_to_exist"
  },
  "success": true,
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "result": {}
}

##Checking for the datatype validation within goes18meta Dataset

In [42]:
my_df.expect_column_values_to_be_of_type('year', 'int')

{
  "meta": {},
  "expectation_config": {
    "meta": {},
    "kwargs": {
      "column": "year",
      "type_": "int",
      "result_format": "BASIC"
    },
    "expectation_type": "_expect_column_values_to_be_of_type__aggregate"
  },
  "success": true,
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "result": {
    "observed_value": "int64"
  }
}

##Distinct value check on days and hour based upon the year Column within Dataset

In [58]:
my_df.expect_column_distinct_values_to_be_in_set('year', ['day', 'hour'])

{
  "meta": {},
  "expectation_config": {
    "meta": {},
    "kwargs": {
      "column": "year",
      "value_set": [
        "day",
        "hour"
      ],
      "result_format": "BASIC"
    },
    "expectation_type": "expect_column_distinct_values_to_be_in_set"
  },
  "success": false,
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "result": {
    "observed_value": [
      2022,
      2023
    ],
    "element_count": 4538,
    "missing_count": null,
    "missing_percent": null
  }
}

Checking for the datatype validation for Stationcode